body {
    background-color: beige;
}

.newstyle {
    background-color: red;
}


ul {
    list-style: none;
display: flex;
flex-direction: column;
padding: 20px;
}


li {
    display: none;
    padding: 20px;
}

.ham {
    display: block;
}
.responsive li{
    display: block;
}

@media screen and (min-width: 600px) {
    li {
        display: block;
    }
}


