#content {
  width: 100%;
  margin: 0 auto;
}
.cards {
  display:  flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;;
}
.card {
  border: 1px solid navy;
  background-color: lightblue;
  padding: 30px;
  text-align: center;
  width: 300px;
  margin: 20px;
}
.list {
  display: none;
  text-align: center;
}
h1 {
  color: navy;
  text-align: center;
}
h2 {
  color: navy;
}
.card-img {
  width: 90%;
  box-shadow: 5px 10px 8px 5px #888888;
}
.button-img {
  max-width: 30px;
}
.buttons {
  text-align: center;
}

#directory-main{
  display: block;
  width: 100%;
}

body {
  margin: 0 auto;
  
}
