body {
    background-color: beige;
}

.newstyle {
    background-color: red;
}


.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.responsive li{
    display: flex;
}



