@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

body {
    background-color: beige;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: rgba(86, 63, 219, 0.377);
    padding: 3%;
}
.logobox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logobox img{
    width: 80px;
}
.logobox h1{
    margin: 0;
}
header nav{
    grid-column: 3/4;
    grid-row: 1/2;
}
.navigation{
    display: grid;
}
.social_icon{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    align-items: center;
}
.social_icon img{
 width: 25px;
 border-radius: 50%;
}
#date{
    background-color: rgb(231, 247, 8);
    grid-column: 1/4;
    text-align: center;
}
.newstyle {
    background-color: red;
}




.navigation li:first-child{
    display: block;
}
.navigation li {
    display: none;
}

.responsive li{
    display: flex;
}
main {
    display: block;
    text-align: left;
}

.content{
    width:100%;
    height: 200px;
    background-color: rgba(255, 166, 0, 0.932);
    margin: 10px;
    padding: 5px;
}

.light{
    height: 40%;
    border: 5px black solid;
    margin: 10px;
}

#spot{
    height: 300px;
}

#hero{
    background-image: url("/images/city.jpg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero p{
    font-family: 'Rowdies', cursive;
    margin-bottom: 50px;
}

#hero a{
    padding: 20px;
    border: 1px solid black;
    background-color: green;
    margin-top: 10px;
    font-size:large;
    font-family: 'Rowdies', cursive;
    text-decoration: none;
    color: black;
}
footer {
    text-align: center;
}
